*.aux
*.log
*.pdf
*.gz
*.bbl
*.blg


.DS_Store

.DS_Store
/Until/dist/
/Until/build/
/UntilCounterExample/build/
/UntilCounterExample/dist/
/AndUntil/build/
/AndUntil/dist/
/AndUntilCounterexample/dist/
/AndUntilCounterexample/build/
/WaitOrdering/build/
/WaitOrdering/dist/
/WaitOrderingCounterexample/build/
/WaitOrderingCounterexample/dist/
/UntilOrderingCounterexample/build/
/UntilOrderingCounterexample/dist/
/NewTheoremCounterexample/dist/
/NewTheoremCounterexample/build/
/EventualLatchingCounterexample/build/
/EventualLatchingCounterexample/dist/