*.aux
*.log
*.pdf
*.gz
*.bbl
*.blg


.DS_Store

.DS_Store
/Until/dist/
/Until/build/
/UntilCounterExample/build/
/UntilCounterExample/dist/
/AndUntil/build/
/AndUntil/dist/
/AndUntilCounterexample/dist/
/AndUntilCounterexample/build/